@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "alien";
    src: url(../font/Alien\ Invader.ttf) format('truetype');
}
@font-face {
    font-family: "alien-italic";
    src: url(../font/Alien\ Invader\ Italic.otf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

/* 
#1678D9 
#115A70
#1A8DB0
*/

:root {
    --nav: #0e4f91;
    --cor2: #45bce0;
    --cor3: #115A70;
    --background: #d8d8d8;
    --cor4: #1A8DB0;


    --fonte-padrao: arial, verdana, helvetica sans-serif;
    --font-destaque: 'bebas neue', cursive;
    --font-alien: 'alien';
    --font-alien-italic: 'alien-italic';

}

body {
    background-color: var(--background);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2),var(--nav) );
    width: auto;
    text-align: center;
    padding-top: 20px;
    
}
header label {
    margin-left: 30px;
    font-family: var(--font-alien);
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.479);
}
header label a {
    text-decoration: none;
    color: rgb(226, 226, 226);
}

header p {
    font-size: 1em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;

}
nav {
    background-color: var(--nav);
    text-align: center;   
    padding: 7px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.479);
    
}

nav a:hover{
    background-color: #ffffff;
    color: #0e4f91;
    padding: 7px;
    border-radius: 4px;
    transition-duration: .5s;
    font-weight: bold;
}

nav ul {
    display: inline-flex;
}
nav ul li {
    width: 160px;
    list-style: none;    
}

nav ul li a {
    color: rgb(226, 226, 226);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.479);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    
    background-color: white;
    min-width: 50%;
    max-width: 85%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}

main h1 {
    margin-top: 5px;
    border-radius: 10px;
    font-family: var(--font-destaque);
    font-size: 2em;
    letter-spacing: 3px;
    text-align: left;
    text-indent: 17px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 3px;
}

.blog-1  {
    border: 1px solid black;
}

/* BLOCO DA IMAGEM FLOAT  */

.float { 
    float: left;
    width: 28%;
    height: 200px;
    padding-right: 10px;
    margin-bottom: 10px;
    
}
.float img {
    margin-top: 30px;
    max-width: 100%;
    min-width: 30%;
}
/* .blog-1 img {
    margin-left: 20px;
    border: 3px solid black;
    margin-top: 20px;
    max-width: 30%;
} */

.content-1 {
    
    border: 1px solid black;
    
}
.content-1 p{
    width: 96%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 30px;
    padding: 15px;
    text-align: justify;
}
.blog-2  {
    border: 1px solid black;
}
.blog-2 img {
    margin-left: 20px;
    border: 3px solid black;
    display: flex;
    margin-top: 20px;
    max-width: 30%;
}

.content-2 {
    display: flex;
    border: 1px solid black;
    
}
.content-2 p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 30px;
    padding: 15px;
    display: flex;
    text-align: justify;
}
.blog-3  {
    border: 1px solid black;
}
.blog-3 img {
    margin-left: 20px;
    border: 3px solid black;
    display: flex;
    margin-top: 20px;
    max-width: 30%;
    
}

.content-3 {
    display: flex;
    border: 1px solid black;
    
}
.content-3 p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 30px;
    padding: 15px;
    display: flex;
    text-align: justify;
}


footer {
    text-align: center;
    background-color: var(--nav);
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
    letter-spacing: .5px;
}
footer a {
    color: white;
    
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
    
}