body {
    background-color: rgb(105, 105, 105);
    color: aquamarine;
    
}
html {
    align-items: center;
    font-size: 150%;
}
.conteudo{
    margin-left: 35%;
}
h1 {
    margin: auto;
    margin-left: 05%;
}
.voltar {
    margin-left: 46%;
}