@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;

}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #0a1041;
    padding: 10px;

}


/* Configurações Retrato */

@media screen and (orientation: portrait) {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-image: url('../mq002/imagens/cev-portrait.jpg');
        background-position: center bottom;
    }
}

/* Configurções Paisagem */

@media screen and (orientation: landscape) {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        background-image: url('../mq002/imagens/cev-landscape.jpg');
        background-position: left bottom;
    }

}