@charset "utf-8";

/* * {
  padding: 0;
  margin: 0;
} */

body {
  background-color: rgb(128, 126, 126);
}

header {
  background-color: rgb(121, 125, 125);
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

nav {
  padding: 10px;
  display: flex;
  background-color: rgb(196, 190, 183);
}

nav #menu {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  list-style: none;
}

nav ul {
  margin: auto;
}

nav ul li {
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
  width: 150px;
}

#drop {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
  background-color: beige;
}
.container .oquetemporaqui {
  justify-content: center;
  align-self: center;
  border: 1px solid;
  max-width: 800px;
}

.container .oquetemporaqui h1 {
  text-align: center;
  font-size: 3em;
  margin: 15px;

}

.container .oquetemporaqui p {
  margin: 0px 30px 15px 30px;
  text-align: justify;
}

.links {
  padding: 30px;
  width: 700px;
  border: 1px solid;
  align-self: center;

}

.links a {
  color: red;
  text-decoration: none;
  font-weight: bold;
  /* a tag bold é para deixar o texto em negrito*/
}

.links a:visited {
  color: rgb(9, 255, 0);
}

.links a:hover {
  color: black;
  text-decoration: underline;
}

.links a:active {
  color: blue;
}

.links #especial::after {
  content: '[Link]';
  color: darkgray;
}

.tipos-hover {
  text-align: center;
  max-width: 800px;
  border: 1px solid;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.tipos-hover .blocos {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.blc {
    display: inline-block;
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    height: 150px;
    width: 150px;
}
.blc:hover {
    background-color: crimson;
}

.duelista {
  align-self: center;
  width: 300px;
  border: 1px solid black;
}
.tipos-hover .duelista > ul {
  border: 1px solid black;
  display: none;
}
.tipos-hover .duelista:hover > ul {
      
      display: block;
      color: white;
      background-color: rgb(237, 237, 237); 
      width: 300px;
}
.tipos-hover .duelista:hover {
  color: rgb(255, 0, 0);
} 

.emoji {
  align-self: center;
  text-align: center;
  max-width: 800px;
  border: 1px solid;
}

.formatacao {
  align-self: center;
  text-align: center;
  max-width: 800px;
  border: 1px solid;
  padding-bottom: 10px;
}

.lista {
  align-self: center;
  padding: 30px;
  width: 800px;
  border: 1px solid;
}
.table {
  padding: 30px;
  align-self: center;
  width: 800px;
  border: 1px solid;
}

.table td, th {
  border: 1px solid black;
  width: 130px;
  padding: 10px;
  text-align: center;
}

.tabela-habitante {
  padding: 30px;
  align-self: center;
  width: 800px;
  border: 1px solid;
}

.tabela-habitante h1 {
  text-align: center;
}

.tabela-habitante table {
  margin: auto;
  width: 500px;
}

.tabela-habitante td,
th {
  border: 1px solid black;
  padding: 10px;

}

.tabela-habitante thead,
tfoot {
  background-color: gray;
  color: white;
}

.tabela-habitante thead tr th {
  position: sticky;
  top: 0;
  background-color: gray;
}

.tabela-habitante tbody tr:nth-child(2n-1) {
  background-color: lightcoral;
}

.tabela-habitante .num {
  text-align: right;
}

.tabela-habitante caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  background-color: lightgray;
  width: 450px;
  margin: auto;

}

.tabela-habitante p {
  padding-top: 30px;
  margin: auto;
  width: 50vh;
}