@charset "utf-8";
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(161, 177, 177);
}
.music-info {
    background-color: aqua;
    margin: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 50px 10px 50px;
    border-radius: 25px;
}

.music-info h1 {
    text-align: center;
    padding: 10px;

}
.reprodutor {
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
    width: 400px;
}
.reprodutor #current-song {
    font-weight: bold;
}

.reprodutor audio {
    background-color: aqua;
    padding: 10px;
}

.music-info p {
    margin: 10px;
    text-align: center;
}

#lst {
    font-size: 1.1em;
    font-weight: bold;
}
.msc-list {
    display: flex;
    border-radius: 10px;
    width: 470px;
    background-color: rgba(128, 128, 128, 0.541);
    box-shadow: 3px 3px 15px black;
}
.bloco {
    width: 200px;
    margin: 20px;
    margin-bottom: 10px;
}

.bloco li {
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-type: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.447);
    transition: .5s;
}

.bloco li:hover {
    background-color: aliceblue;
    color: black;
}







