/* Reset de estilos para garantir consistência entre navegadores */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  fieldset {
    margin-bottom: 20px;
    border: none;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  
  input[type="submit"],
  input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #0056b3;
  }
  
  select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%),
      linear-gradient(135deg, #ccc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(0.5em),
      calc(100% - 15px) calc(0.5em);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
  }
  
  textarea {
    resize: vertical;
  }
  
  output {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  