@charset "UTF-8";
/* Todas as demais Medias */

/* Typical device break points
Celular: ate 600px
Tablet: 768px ate  992px
Desktop: 992px ate 1200px 
Tv: acima de 1200px 
*/


@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url('../imagens/back-print.jpg');
        /* desnecessário */
        text-shadow: none;
    }
     main {
        border: 2px solid black;
    
    }

    main::after {
        content: 'Essa impressão foi feita atraves do site www.web.com';
    }
    main h1 {

        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    main {
        width: 500px;
        
    }

    img#phone,
    img#tablet,
    img#tv,
    img#pc,
    img#print {
        display: none;
        margin: auto;
    }

    img#tablet {
        display: block;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    main {
        width: 650px;
    }

    img#phone,
    img#tablet,
    img#tv,
    img#pc,
    img#print {
        display: none;
        margin: auto;
    }

    img#pc {
        display: block;
    }


}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    main {
        width: 800px;
    }

    img#phone,
    img#tablet,
    img#tv,
    img#pc,
    img#print {
        display: none;
        margin: auto;
    }

    img#tv {
        display: block;
    }
}